body{
    font-size: 1.5em;
    font-family: 'Courier New';
}

input, select{
    font-size: 1em;
    font-family: 'Courier New';
}

p{
    font-size: 1.7em;
}

#int{
    color: #06B;
}

#amd{
    color: #F22;
}

img{
    width: 20%;
    padding: 1em;
    border: 1px dashed #000;
    margin: 2em;
}